@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4,h5,h6{font-family:'Poppins',sans-serif;}
a,span,p,select,button,input,textarea,li,table{font-family:'Poppins',sans-serif;}
.fontRaleway{font-family:'Raleway',sans-serif;}

p{
    font-size: 16px;
    color: #3F3F3F;
    line-height: 20px;
    margin-bottom: 15px;
}
p:last-child{margin-bottom:0px;}

html,
body{background: #F5F5F5;}

.input{background: #fff;}
.input{border: 1px solid #ddd;}

.main-t {
    font-size: clamp(24px,4vw,30px);
    line-height: clamp(28px,4vw,34px);
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.med-t {
    font-size: 16px;
    line-height: 20px;
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.small-t {
    font-size: 14px;
    line-height: 18px;
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.blackFont {
    color: #000;
}

.whiteFont {
    color: #fff;
}

.blueFont {
    color: #1A4581;
}

.grayFont {
    color: #3F3F3F;
}

.pagination{
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
}
.pagination li{
    margin: 0 2px;
}
.pagination li a,
.pagination li span{
    color: #7A8794;
    width: 42px;
    height: 36px;
    min-width: 42px;
    min-height: 36px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB6BD;
    border-radius: 10px;
    font-size: 16px;
}

.pagination li:hover a,
.pagination li.active a,
.pagination li:hover span,
.pagination li.active span{
    color: #fff;
    background: #009DE5;
}

#menu .dl-menu > li:hover > a,
#menu .dl-menu > li.ativo > a{
    color: #fff;
    background: #1A4581;
}

.fullW{
    width: 100%;
}

.zoomEfct{
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.zoomEfct:hover{
    transform: scale(0.95);
}

.uppercase{
    text-transform: uppercase;
}

.black{
    font-weight: 900;
}
.bold,
strong,b{
    font-weight:bold;
}
.extrabold{
    font-weight: 800;
}
.italic{
    font-style: italic;
}
.light{
    font-weight: 300;
}
.medium{
    font-weight: 500;
}
.normal{
    font-weight: 400;
}
.semibold{
    font-weight: 600;
}
