/* Telas Maiores */
@media screen and (min-width: 1920px){
    #banner .swiper-slide video, #banner .swiper-slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}

/*Container*/

@media screen and (max-width: 1200px){
    .container{
        padding: 30px 20px;
    }
}

/* Header */
@media screen and (max-width:450px){
    .header{
        padding: 30px 20px;
    }

    .logoH{
        max-width: 175px;
    }

    header.scroll .header{
        padding: 20px;
    }

    .infosHeader .main{
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:380px){
    .logoH{
        max-width: 145px;
    }

    .header .btnLogin {
        display: none;
    }
}

/* Banner */
@media screen and (max-width: 900px){
    .bannerDesk{
        display: none;
    }
    .bannerMobile{
        display: flex;
    }
    #banner .swiper-slide video, #banner .swiper-slide img{
        object-position: center;
        object-fit: cover;
        aspect-ratio: 4 / 4;
    }
}

/* Home */
@media screen and (max-width:1340px) {
    .arrowsEstilos .swiper-button-prev,
    .arrowsEstilos .swiper-container-rtl .swiper-button-next {
        left: 0;
        width: 35px;
        height: 35px;
    }

    .arrowsEstilos .swiper-button-next,
    .arrowsEstilos .swiper-container-rtl .swiper-button-prev {
        right: 0;
        width: 35px;
        height: 35px;
    }

}
/* Footer */
@media screen and (max-width:730px){
    .sitemapFooter {
        grid-template-columns: repeat(2,1fr);
    }

    .enderecoFooter {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}

@media screen and (max-width:530px){
    .sitemapFooter {
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        text-align: center;
    }

    .enderecoFooter{
        margin-bottom: 50px;
    }

    .contatoFooter{
        align-items: center;
    }
}

/* Sobre */

@media screen and (max-width: 1100px){
    .valores01, .valores02 {
        padding: 40px;
    }
}

@media screen and (max-width: 860px){
    .gridValores{
        grid-template-columns: 1fr 1fr;
    }

    .gridValores .grid{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
    }

    .gridValores .grid h4{
        margin-bottom: 10px;
    }

    .valores01, .valores02 {
        padding: 25px;
    }

    .missao, .visao {
        padding: 25px;
    }
}

@media screen and (max-width: 560px){
    .gridValores{
        grid-template-columns: 1fr;
    }

    .gridValores .grid{
        grid-template-columns: 1fr;
        grid-column: 1;
    }

    .valores01, .valores02 {
        width: 100%;
    }

    .valores01 p:last-child{
        margin-bottom: 0;
    }

    .valores02 {
        padding-top: 0;
        margin: 0;
    }
}

/* Produtos */
@media screen and (max-width: 1150px){
	.leftProdutos{
		width: 100%;
		margin-bottom: 30px;
        min-height: fit-content;
	}

	.menuLateralProd{
		display: none;
	}

	.filtrarProd{
		display: flex;
		justify-content: center;
	}

    .sectionProdutos .fullW.flex_r{
		flex-direction: column;
	}

	.produtos-detalhes{
		width: 100%;
	}
    .rightProdutos{
        width: 100%;
    }

    .leftProdutos h2{
        display: none;
    }
}

@media screen and (max-width:900px){
    .produtosContainer .preHeader{
        height: 100px;
        justify-content: center;
        align-items: center;

    }
    .produtosContainer .preHeader h1{
        margin-bottom: 0;
    }
}

@media screen and (max-width:400px){
    .leftProdutos{
        padding: 35px 30px;
    }

    .fbProdutos .container{
        padding: 45px 30px;
    }
}

@media screen and (max-width:850px){
    .rightProdutos .gridPrdutos {
        grid-template-columns: repeat(2,1fr);
    }
    .itemProdutos img{
        min-height: 400px;
    }
}

@media screen and (max-width:560px){
    .rightProdutos .gridPrdutos {
        grid-template-columns: repeat(1,1fr);
    }
}


/* Produtos Detalhes */

@media screen and (max-width: 1150px){
    .sectionProdutosDetalhes .fullW.flex_r{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .mySwiper2{
        height: fit-content;
    }

    .textoProdutos,.sliderProdutos{
        width: 100%;
    }

    .textoProdutos{
        margin-top: 30px;
    }
}

/* Carrinho */

@media screen and (max-width: 1080px) {
    .leftCarrinho {
        width:100%;
        height:fit-content;
        margin-bottom: 30px;
    }

    .rightCarrinho {
        width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 670px) {
    .leftCarrinho,.rightCarrinho{
        padding: 25px;
    }

    .produtoCarrinho {
        width:100%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px
    }

    .produtoCarrinho h6{
        text-align: center;
    }

    .fotoProdCarrinho {
        margin: 0 auto 10px
    }

    .quantidadeCarrinho {
        margin: 0 auto
    }

}

/* Sobre */
@media screen and (max-width: 980px) {
    .sobreSection .main{
        flex-direction: column;
    }
    .sobreSection .e_input{
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .sobreSection .main{
        flex-direction: column;
        padding: 60px 20px 180px;
    }
}

/* Representantes */
@media screen and (max-width: 1080px) {
    .leftRepresentantes{
        margin-top: 50px;
        min-height: auto;
        order: 2;
    }

    .leftRepresentantes,.rightRepresentantes{
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .leftRepresentantes{
        flex-direction: column;
        padding: 60px 20px ;
    }
}

/* Contato */

@media screen and (max-width: 1100px){
    .contato .main{
        flex-direction: column;
        gap: 40px;
    }
    .contato .e_input,.contato .formulario,.contato .t_input{
        width: 100%;
    }
}

/* Mapa */

@media screen and (max-width: 1300px){
    .blocoRep{
        right: 0;
    }
}

@media screen and (max-width: 800px){
    .blocoRep{
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        min-width: 200px;
    }

    .sectionMapa{
        flex-direction: column;
    }
}
