@import url("../css/includes/reset.css");
@import url("../css/includes/whatsappFlutuante.css");
@import url("../css/includes/themecolors.css");
@import url("../css/includes/menu.css");
@import url("../css/includes/modals.css");
@import url("../css/includes/middleheader.css");
@import url("../css/includes/banner.css");
@import url("../css/includes/home.css");
@import url("../css/includes/footer.css");
@import url("../css/includes/produtos.css");
@import url("../css/includes/about.css");
@import url("../css/includes/produtos_detalhes.css");



@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow-x: hidden;
    height: 100%;
}


.mainRep{
    padding-top: 41px;
}

.leftsection{
    border-radius: 10px;
    background: #FFF;
    min-width: 700px;
    margin-right: 85px;
}

.pad{
    padding: 60px;
}
.rep_name{
    color: #1A4581;
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 30px */
letter-spacing: -0.9px;
padding-bottom: 20px;
}

.rep_email{
    color: #3F3F3F;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 20px;

}


.rightsection{
    border-radius: 10px;
background: #FFF;
min-width: 400px;
min-height: 400px;
}

.inputs_right{
    padding-top: 60px;
}

.rep_form input, textarea{
    border-radius: 5px;
    border: 1px solid #AFB6BD;
    background: #FFF;
}
